In [203]:
# Importación librerías
import pandas as pd
import numpy as np
import re

# Lectura de datos
Leemos el archivo con la base de datos a probar

In [204]:
# Lectura de datos
df = pd.read_csv("bd_pruebas.csv", delimiter=";")

# Convertimos el campo cedula y telefono como tipo string
df['cedula'] = df['cedula'].astype('str')

df['telefono'] = df["telefono"].apply(lambda x: f'{x:.0f}').astype('str')
df['telefono'] = df['telefono'].replace({'nan': np.nan})

df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1111,Maria,NaN,NaN,Alvarez,NaN,671,rsnaith0@symantec.com
1,2222,Jose,Pedro,Martinez,NaN,Calle 3 No. 2 - 3,202,@pcworld.com
2,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991,dcarefull2@wikimedia.org
3,4444,Luz,NaN,Gomez,Suarez,Cll 21 No. 4 - 6,NaN,mtrathan3@ca.gov
4,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
5,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
6,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413,apuncher6linkedin.com
7,8888,Jorge,NaN,NaN,Morales,Cll 21 No. 4 - 7,101,dmarkovich7@trellian.com
8,9999e,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355,lescott8@timesonline.co.uk
9,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
10,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
11,1012,Jose6,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
12,1013,Luis 77,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792,glownesc@nasa.gov
13,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
14,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412,manscotte@sina.com.cn
15,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
16,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206,cbertrandg@nymag.com
17,1018*,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
18,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795,lkippeni@bing.com
19,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
20,1111,NaN,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671,ehebbesk@google.com.hk
21,1111,Mariita,NaN,Rodriguez,NaN,Calle 3 No. 2 - 3,NaN,pvardiel@stumbleupon.com
22,1111,Maria Gloria,NaN,NaN,Alvarez,NaN,671,hgobolosm@mozilla.org
23,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,nmallenn@theatlantic.com
24,4444,NaN,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579,tthwaiteo@irs.gov
25,8888,Jorge Manuel,NaN,NaN,Morales,Cll 21 No. 4 - 7,101,enursep@over-blog.com
26,1011,Maria,NaN,Ramirez,Arias,NaN,387,mferneq@webs.com

# Campos de primer_nombre y primer_apellido con datos dobles
Separamos cuando primer_nombre o primer_apellido lleven también el segundo_nombre o segundo_apellido

In [205]:
# Esta es para nombre
try:
    df[['primer_nombre', 'segundo_nombre_temp']] = df['primer_nombre'].str.split(' ', expand=True)
    df['segundo_nombre_temp'] = df['segundo_nombre_temp'].replace({None: np.nan})
    df['segundo_nombre'] = df['segundo_nombre'].combine_first(df['segundo_nombre_temp'])
    df.drop(columns=['segundo_nombre_temp'], inplace=True)
except:
    pass

df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1111,Maria,NaN,NaN,Alvarez,NaN,671,rsnaith0@symantec.com
1,2222,Jose,Pedro,Martinez,NaN,Calle 3 No. 2 - 3,202,@pcworld.com
2,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991,dcarefull2@wikimedia.org
3,4444,Luz,NaN,Gomez,Suarez,Cll 21 No. 4 - 6,NaN,mtrathan3@ca.gov
4,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
5,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
6,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413,apuncher6linkedin.com
7,8888,Jorge,NaN,NaN,Morales,Cll 21 No. 4 - 7,101,dmarkovich7@trellian.com
8,9999e,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355,lescott8@timesonline.co.uk
9,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
10,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
11,1012,Jose6,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
12,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792,glownesc@nasa.gov
13,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
14,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412,manscotte@sina.com.cn
15,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
16,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206,cbertrandg@nymag.com
17,1018*,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
18,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795,lkippeni@bing.com
19,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
20,1111,NaN,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671,ehebbesk@google.com.hk
21,1111,Mariita,NaN,Rodriguez,NaN,Calle 3 No. 2 - 3,NaN,pvardiel@stumbleupon.com
22,1111,Maria,Gloria,NaN,Alvarez,NaN,671,hgobolosm@mozilla.org
23,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,nmallenn@theatlantic.com
24,4444,NaN,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579,tthwaiteo@irs.gov
25,8888,Jorge,Manuel,NaN,Morales,Cll 21 No. 4 - 7,101,enursep@over-blog.com
26,1011,Maria,NaN,Ramirez,Arias,NaN,387,mferneq@webs.com

In [206]:
# Esta es para apellidos
try:
    df[['primer_apellido', 'segundo_apellido_temp']] = df['primer_apellido'].str.split(' ', expand=True)
    df['segundo_apellido_temp'] = df['segundo_apellido_temp'].replace({None: np.nan})
    df['segundo_apellido'] = df['segundo_apellido'].combine_first(df['segundo_apellido_temp'])
    df.drop(columns=['segundo_apellido_temp'], inplace=True)
except:
    pass

df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1111,Maria,NaN,NaN,Alvarez,NaN,671,rsnaith0@symantec.com
1,2222,Jose,Pedro,Martinez,NaN,Calle 3 No. 2 - 3,202,@pcworld.com
2,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991,dcarefull2@wikimedia.org
3,4444,Luz,NaN,Gomez,Suarez,Cll 21 No. 4 - 6,NaN,mtrathan3@ca.gov
4,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
5,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
6,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413,apuncher6linkedin.com
7,8888,Jorge,NaN,NaN,Morales,Cll 21 No. 4 - 7,101,dmarkovich7@trellian.com
8,9999e,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355,lescott8@timesonline.co.uk
9,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
10,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
11,1012,Jose6,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
12,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792,glownesc@nasa.gov
13,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
14,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412,manscotte@sina.com.cn
15,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
16,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206,cbertrandg@nymag.com
17,1018*,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
18,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795,lkippeni@bing.com
19,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
20,1111,NaN,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671,ehebbesk@google.com.hk
21,1111,Mariita,NaN,Rodriguez,NaN,Calle 3 No. 2 - 3,NaN,pvardiel@stumbleupon.com
22,1111,Maria,Gloria,NaN,Alvarez,NaN,671,hgobolosm@mozilla.org
23,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,nmallenn@theatlantic.com
24,4444,NaN,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579,tthwaiteo@irs.gov
25,8888,Jorge,Manuel,NaN,Morales,Cll 21 No. 4 - 7,101,enursep@over-blog.com
26,1011,Maria,NaN,Ramirez,Arias,NaN,387,mferneq@webs.com

# Borrar duplicados
Unificamos los campos que sean de la misma persona y borramos duplicados

In [207]:
df = df.groupby('cedula').apply(lambda group: group.ffill().bfill()).drop_duplicates('cedula').reset_index(drop=True)
df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
1,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
2,1012,Jose6,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
3,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792,glownesc@nasa.gov
4,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
5,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412,manscotte@sina.com.cn
6,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
7,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206,cbertrandg@nymag.com
8,1018*,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
9,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795,lkippeni@bing.com
10,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
11,1111,Maria,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671,rsnaith0@symantec.com
12,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,@pcworld.com
13,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991,dcarefull2@wikimedia.org
14,4444,Luz,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579,mtrathan3@ca.gov
15,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
16,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
17,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413,apuncher6linkedin.com
18,8888,Jorge,Manuel,NaN,Morales,Cll 21 No. 4 - 7,101,dmarkovich7@trellian.com
19,9999e,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355,lescott8@timesonline.co.uk

# Validamos los tipos de cada dato
Validamos que por ejemplo columna cédula o teléfono no tengan caracteres, o que las columnas de nombres y apellidos tengan números

In [208]:
# Definimos una función lambda que filtra los valores NaN
filtrar_vacios = lambda x: x if pd.notna(x) else ''

df = df.map(filtrar_vacios)

# Definimos una función lambda que filtra los caracteres que no numéricos
filtrar_numeros = lambda x: ''.join(filter(str.isdigit, x))

# Definimos una función lambda que filtra los caracteres alfabéticos
filtrar_letras = lambda x: ''.join(filter(str.isalpha, x))

# Eliminamos caracteres de la cedula y el telefono
df['cedula'] = df['cedula'].map(filtrar_numeros)
df['telefono'] = df['telefono'].map(filtrar_numeros)

# Eliminamos números de los nombres y apellidos
df['primer_nombre'] = df['primer_nombre'].map(filtrar_letras)
df['segundo_nombre'] = df['segundo_nombre'].map(filtrar_letras)
df['primer_apellido'] = df['primer_apellido'].map(filtrar_letras)
df['segundo_apellido'] = df['segundo_apellido'].map(filtrar_letras)

df = df.replace({'': np.nan})


df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
1,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
2,1012,Jose,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
3,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792,glownesc@nasa.gov
4,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
5,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412,manscotte@sina.com.cn
6,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
7,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206,cbertrandg@nymag.com
8,1018,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
9,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795,lkippeni@bing.com
10,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
11,1111,Maria,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671,rsnaith0@symantec.com
12,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,@pcworld.com
13,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991,dcarefull2@wikimedia.org
14,4444,Luz,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579,mtrathan3@ca.gov
15,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
16,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
17,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413,apuncher6linkedin.com
18,8888,Jorge,Manuel,NaN,Morales,Cll 21 No. 4 - 7,101,dmarkovich7@trellian.com
19,9999,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355,lescott8@timesonline.co.uk

# Estandarizar direcciones
Se cambian algunos caracteres dentro de las direcciones para buscar su estandarización

In [209]:
def estandar_direccion(address):

    try:
        address = address.lower()
        address = address.replace('#', 'no.')
        address = address.replace('cll', 'calle')
        address = address.replace('cra', 'carrera')
        address = address.replace('kra', 'carrera')
        address = address.replace('con', 'no.')
        address = address.title()

    except:
        pass

    return address


df['direccion'] = df['direccion'].map(estandar_direccion)
df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
1,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
2,1012,Jose,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
3,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 No. 5 - 8,792,glownesc@nasa.gov
4,1014,Luz,Alba,Hernandez,Rojas,Calle 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
5,1015,NaN,Olga,Gonzalez,Moreno,Calle 1 No. 12 - 5,412,manscotte@sina.com.cn
6,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
7,1017,Juan,Julio,Gomez,Ortiz,Calle 2 No. 5 - 9,206,cbertrandg@nymag.com
8,1018,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
9,1019,Martha,NaN,Martinez,Castro,Calle 1 No. 12 - 6,795,lkippeni@bing.com
10,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
11,1111,Maria,Gloria,Rodriguez,Alvarez,Calle 1 No. 12 - 3,671,rsnaith0@symantec.com
12,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,@pcworld.com
13,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 No. 5 - 7,991,dcarefull2@wikimedia.org
14,4444,Luz,Carmen,Gomez,Suarez,Calle 21 No. 4 - 6,579,mtrathan3@ca.gov
15,5555,Ana,Blanca,Lopez,Herrera,NaN,967,sluis4@vk.c
16,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,saggas5@.com
17,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 No. 5 - 8,413,apuncher6linkedin.com
18,8888,Jorge,Manuel,NaN,Morales,Calle 21 No. 4 - 7,101,dmarkovich7@trellian.com
19,9999,NaN,Rosa,Perez,Giraldo,Calle 1 No. 12 - 5,355,lescott8@timesonline.co.uk

# Validación de correo electrónico
Se valida a través de una expresión regular el correo electrónico, de no cumplir las normas se elimina ese valor

In [210]:
def validar_correo(correo):
    patron = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}+'
    if bool(re.match(patron, correo)):
        return correo
    else:
        return np.nan


df['correo'] = df['correo'].map(validar_correo)
df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304,koharney9@businessinsider.com
1,1011,Maria,Claudia,Ramirez,Arias,NaN,387,ssmailsa@livejournal.com
2,1012,Jose,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137,sgatheralb@prweb.com
3,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 No. 5 - 8,792,glownesc@nasa.gov
4,1014,Luz,Alba,Hernandez,Rojas,Calle 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
5,1015,NaN,Olga,Gonzalez,Moreno,Calle 1 No. 12 - 5,412,manscotte@sina.com.cn
6,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
7,1017,Juan,Julio,Gomez,Ortiz,Calle 2 No. 5 - 9,206,cbertrandg@nymag.com
8,1018,Jorge,Victor,Garcia,Jimenez,NaN,429,knutkinh@google.com
9,1019,Martha,NaN,Martinez,Castro,Calle 1 No. 12 - 6,795,lkippeni@bing.com
10,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163,amcmillianj@constantcontact.com
11,1111,Maria,Gloria,Rodriguez,Alvarez,Calle 1 No. 12 - 3,671,rsnaith0@symantec.com
12,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202,NaN
13,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 No. 5 - 7,991,dcarefull2@wikimedia.org
14,4444,Luz,Carmen,Gomez,Suarez,Calle 21 No. 4 - 6,579,mtrathan3@ca.gov
15,5555,Ana,Blanca,Lopez,Herrera,NaN,967,NaN
16,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244,NaN
17,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 No. 5 - 8,413,NaN
18,8888,Jorge,Manuel,NaN,Morales,Calle 21 No. 4 - 7,101,dmarkovich7@trellian.com
19,9999,NaN,Rosa,Perez,Giraldo,Calle 1 No. 12 - 5,355,lescott8@timesonline.co.uk