In [6]:
# Importación librerías
import pandas as pd
import numpy as np

# Lectura de datos
Leemos el archivo con la base de datos a probar

In [7]:
# Lectura de datos
df = pd.read_csv("bd_pruebas.csv", delimiter=";")
df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1111,Maria,NaN,NaN,Alvarez,NaN,671.0,rsnaith0@symantec.com
1,2222,Jose,Pedro,Martinez,NaN,Calle 3 No. 2 - 3,202.0,saucoate1@pcworld.com
2,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991.0,dcarefull2@wikimedia.org
3,4444,Luz,NaN,Gomez,Suarez,Cll 21 No. 4 - 6,NaN,mtrathan3@ca.gov
4,5555,Ana,Blanca,Lopez,Herrera,NaN,967.0,sluis4@vk.com
5,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244.0,saggas5@dagondesign.com
6,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413.0,apuncher6@linkedin.com
7,8888,Jorge,NaN,NaN,Morales,Cll 21 No. 4 - 7,101.0,dmarkovich7@trellian.com
8,9999,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355.0,lescott8@timesonline.co.uk
9,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304.0,koharney9@businessinsider.com
10,1011,Maria,Claudia,Ramirez,Arias,NaN,387.0,ssmailsa@livejournal.com
11,1012,Jose,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137.0,sgatheralb@prweb.com
12,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792.0,glownesc@nasa.gov
13,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
14,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412.0,manscotte@sina.com.cn
15,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
16,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206.0,cbertrandg@nymag.com
17,1018,Jorge,Victor,Garcia,Jimenez,NaN,429.0,knutkinh@google.com
18,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795.0,lkippeni@bing.com
19,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163.0,amcmillianj@constantcontact.com
20,1111,NaN,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671.0,ehebbesk@google.com.hk
21,1111,Mariita,NaN,Rodriguez,NaN,Calle 3 No. 2 - 3,NaN,pvardiel@stumbleupon.com
22,1111,Maria Gloria,NaN,NaN,Alvarez,NaN,671.0,hgobolosm@mozilla.org
23,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202.0,nmallenn@theatlantic.com
24,4444,NaN,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579.0,tthwaiteo@irs.gov
25,8888,Jorge Manuel,NaN,NaN,Morales,Cll 21 No. 4 - 7,101.0,enursep@over-blog.com
26,1011,Maria,NaN,Ramirez,Arias,NaN,387.0,mferneq@webs.com

# Campos de primer_nombre y primer_apellido con datos dobles
Separamos cuando primer_nombre o primer_apellido lleven también el segundo_nombre o segundo_apellido

In [ ]:
# Esta es para nombre
try:
    df[['primer_nombre', 'segundo_nombre_temp']] = df['primer_nombre'].str.split(' ', expand=True)
    df['segundo_nombre_temp'] = df['segundo_nombre_temp'].replace({None: np.nan})
    df['segundo_nombre'] = df['segundo_nombre'].combine_first(df['segundo_nombre_temp'])
    df.drop(columns=['segundo_nombre_temp'], inplace=True)
except:
    pass

df

In [ ]:
# Esta es para apellidos
try:
    df[['primer_apellido', 'segundo_apellido_temp']] = df['primer_apellido'].str.split(' ', expand=True)
    df['segundo_apellido_temp'] = df['segundo_apellido_temp'].replace({None: np.nan})
    df['segundo_apellido'] = df['segundo_apellido'].combine_first(df['segundo_apellido_temp'])
    df.drop(columns=['segundo_apellido_temp'], inplace=True)
except:
    pass

df

# Borrar duplicados
Unificamos los campos que sean de la misma persona y borramos duplicados

In [8]:
df = df.groupby('cedula').apply(lambda group: group.ffill().bfill()).drop_duplicates('cedula').reset_index(drop=True)
df

,cedula,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,direccion,telefono,correo
0,1010,Sandra,Diana,Ramirez,Rivera,Calle 3 No. 2 - 5,304.0,koharney9@businessinsider.com
1,1011,Maria,Claudia,Ramirez,Arias,NaN,387.0,ssmailsa@livejournal.com
2,1012,Jose,Jaime,NaN,Torres,Calle 3 No. 2 - 4,137.0,sgatheralb@prweb.com
3,1013,Luis,Hector,Sanchez,Muñoz,Calle 2 # 5 - 8,792.0,glownesc@nasa.gov
4,1014,Luz,Alba,Hernandez,Rojas,Cll 21 No. 4 - 7,NaN,mgronousd@guardian.co.uk
5,1015,NaN,Olga,Gonzalez,Moreno,Cll 1 # 12 - 5,412.0,manscotte@sina.com.cn
6,1016,Carlos,Jairo,NaN,Vargas,Calle 3 No. 2 - 5,NaN,vtinkerf@people.com.cn
7,1017,Juan,Julio,Gomez,Ortiz,Calle 2 # 5 - 9,206.0,cbertrandg@nymag.com
8,1018,Jorge,Victor,Garcia,Jimenez,NaN,429.0,knutkinh@google.com
9,1019,Martha,NaN,Martinez,Castro,Cll 1 # 12 - 6,795.0,lkippeni@bing.com
10,1020,Sandra,Alba,Rodriguez,Gutierrez,Calle 3 No. 2 - 6,163.0,amcmillianj@constantcontact.com
11,1111,Maria,Gloria,Rodriguez,Alvarez,Cll 1 # 12 - 3,671.0,rsnaith0@symantec.com
12,2222,Jose,Pedro,Martinez,Valencia,Calle 3 No. 2 - 3,202.0,saucoate1@pcworld.com
13,3333,NaN,Oscar,Garcia,Ruiz,Calle 2 # 5 - 7,991.0,dcarefull2@wikimedia.org
14,4444,Luz,Carmen,Gomez,Suarez,Cll 21 No. 4 - 6,579.0,mtrathan3@ca.gov
15,5555,Ana,Blanca,Lopez,Herrera,NaN,967.0,sluis4@vk.com
16,6666,Carlos,Jesus,Gonzalez,Romero,Calle 3 No. 2 - 4,244.0,saggas5@dagondesign.com
17,7777,Juan,Jhon,Hernandez,Quintero,Calle 2 # 5 - 8,413.0,apuncher6@linkedin.com
18,8888,Jorge,NaN,NaN,Morales,Cll 21 No. 4 - 7,101.0,dmarkovich7@trellian.com
19,9999,NaN,Rosa,Perez,Giraldo,Cll 1 # 12 - 5,355.0,lescott8@timesonline.co.uk